body {
  display: flex;
  flex-direction: row;
  margin: 0;
  min-height: 100vh;
  background-color: beige;
}

img {
  max-width: 90px;
  height: auto;
  border-radius: 50%; 
}
nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(202, 197, 204);
  
}

button {
  background-color: rgb(128, 11, 89);
  border: none;
 padding: 1vh; 
  color: white;
  border-radius: 10%;
}

nav a {
  padding: 1vh;
  text-decoration: none;
  color: rgb(156, 36, 96);
 
}

iframe {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 660px) {
  body {
    flex-direction: column-reverse;
  }

  nav {
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 0;
    width: 100%;
  }

  iframe {
    display: flex;
    max-width: 70%;
    margin: 60% auto;
  }

  img {
    width: auto ;
    height:5vh;
  }

  p {
    font-size: x-small;
  }

  .Link {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 661px) {
  nav {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
  }
  
  iframe {
    display: flex;
    max-width: 50%;
    max-height: auto;
    margin: 30vh 30vw;
  }
  .Link{
    margin-top: 0;
    display:flex;
    flex-direction: column;
    align-self: center;
  }

  img {
    width: auto ;
    height:30%;
  }
  }

  @media screen and (min-width: 1000px){
    .Link{
      margin-top: 0;
      display:flex;
      flex-direction: row;
      align-self: center;
      align-items: center;
    }
  
   
  }
